@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');


.* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap; 
    
}

.containerdatos{
    background-color: #E98125;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 1rem;
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: 'Gothic A1', sans-serif;
  
  

}

.arriba{
    margin-left: 10px;
    margin-right: 10px;
    background-color:#E98125;
    font-family: 'Gothic A1', sans-serif;
    font-size: 12px;   
    height: 40px; 
    
     
}

.arribatodo{
    display: flex; 
    font-family: 'Gothic A1', sans-serif;
    font-size: 10px ; 
    
}

.arribap{
    font-family: 'Gothic A1', sans-serif;
    font-size: 12px; 
    margin: 18px ; 
    
}

.imglogo{
    height: 80px;
    
}

.nav{
    padding: 0px ;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav1{
    background-color: white; 
}

.heroe{
    height: 60vh;
}

.container{
    padding: 40px;
}


.containerimg{
    height: 200px;
    padding: 10px 10px;
}



.productos {
    background-color: rgb(151, 151, 155);
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.productostitulo{
    margin-top: 10px;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
    color: white;

}

.productosnom{
    margin-top: 10px;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
    color: white;

}

.productostituloref{
    margin-top: 10px;
    text-align: center;
      display: flex;
    align-content:center;
    justify-content: center;
    background-color: #E98125;
    border: none;
    padding: 20px 8px;
    border-radius: 3px;
    cursor: pointer;   
    color: white;

}

.productostituloref:hover {
    background-color: #E98125;
}

.metal{ 
    background-color: rgb(151, 151, 155);
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;

}


.metaltitulo{
    margin-top: 10px;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
    color: white;

}

.metalimg {
    height: 400px;
}

.metaltitulonom{
    margin-top: 10px;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
    color: white;

}


.metaltituloref{
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-content:center;
    justify-content: center;
    background-color: #E98125;
    border: none;
    padding: 20px 8px;
    border-radius: 3px;
    cursor: pointer;   
    color: white;

}

.tituloref:hover {
    background-color: #E98125;
}

















.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00px 01px;
    margin: 0px 40px;
    flex-wrap: wrap;
    

}

.separador {
    height: 30px;
    border: none;
    background: rgb(133,132,136);
    background: linear-gradient(90deg, rgba(133,132,136,1) 0%, rgba(155,101,53,1) 44%, rgba(233,129,37,1) 100%);
}


.imgsuperior{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

.imgsuperior1{
    width: 100%;
    height: 100px;
    object-fit: cover;
    background-position: center;
   
}

.opciones{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;

}

.opcioneslist{
    display: flex;
    list-style: none;
    
}

.opcionesitem{
    margin: 0px 12px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px; 

}

.complemento{
   background-color: rgb(151, 151, 155);
   padding: 09px 20px;
   font-family: 'Gothic A1', sans-serif;
   font-size: 1rem;
   
 
}
.complementocontenedor{
    padding: 01px 20px;
    display: flex ;
    align-content:center;
    justify-content: center;
    
 }

 .complementoparrafo{
    padding: 01px 20px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem ; 
    
 }

 .complementoimg{
    width: 100%;
    max-width: 600px;
    height: 400px;
  
 }







.productoscontenedor{
    display: flex;
    gap: 20px;
    display: flex;
    align-content:center;
    justify-content: center;
    margin-bottom: 10px;
    
    
}

.productosunidad{
    display: flex;
    flex-direction: column;
}

.productosimg {
    width: 100%;
    max-width: 210px;
    height: 210px;
    object-fit: cover;
    margin: 20px;
    background-position: center;
}



.sobrenosotros {
    height: 350px;  
    background-color: rgb(151, 151, 155);
    padding: 10px 20px
    
    
}

.sobrenosotrostitulo { 
    display: flex ;
    align-content:center;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}

.sobrenosotroscontenedor {
    padding: 01px 20px;
    display: flex ;
    align-content:center;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}

.sobrenosotrosparrafo { 
    padding: 20px 20px;
    display: flex ;
    align-content:center;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}
.sobrenosotrosimg {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    
}


.caños{
    background-color: rgb(151, 151, 155);
    padding: 01px 20px;
    font-family: 'Gothic A1', sans-serif;
   font-size: 1rem;
    
  
}

.cañostitulo{
    text-align: center; 
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}


.cañoscontenedor{
    display: flex;
    gap: 20px;
    display: flex;
    align-content:center;
    justify-content: center;
}

.cañosunidad{
    display: flex;
    flex-direction: column;
}

.cañosimg {
    width: 100%;
    max-width: 210px;
    height: 210px;
    object-fit: cover;
    margin: 20px;
    background-position: center;
}

.cañospres {
    
    background-color: rgb(151, 151, 155);
    padding: 10px 20px
    
    
}

.cañosprestitulo { 
    display: flex ;
    align-content:center;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}

.cañosprescontenedor {
    padding: 01px 20px;
    display: flex ;
    align-content:center;
    justify-content: center;
    text-align: center ;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}

.cañospresparrafo { 
    padding: 20px 20px;
    display: flex ;
    align-content:center;
    justify-content: center;
    text-align: center ;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}





.propia {
   background-color: rgb(151, 151, 155);
   padding: 01px 20px ;
   font-family: 'Gothic A1', sans-serif;
   font-size: 1rem;
   
}

.propiatitulo { 
    display: flex ;
    align-content:center;
    justify-content: center;  
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}

.propiacontenedor {  
    display: flex ;
     
    align-content:center;
    justify-content: center;  
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}
.propiaimg {
    margin: 20px ;
    object-fit: cover;
    max-width: 300px;  
}




.propia2 {
    background-color: rgb(151, 151, 155);
    padding: 01px 20px ;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    
    
 }
 
 .propiatitulo2 { 
     display: flex ;
     align-content:center;
     justify-content: center;  
 }
 
 .propiacontenedor2 {  
     display: flex ;
     align-content:center;
     justify-content: center; 
 
 }
 .propiaimg2 {
     margin: 20px ;
     max-width: 600px;
     object-fit: cover;
     max-width: 300px;  
 }


 .mayor {
    height: 350px;  
    background-color: rgb(151, 151, 155);
    padding: 10px 20px
    
    
}

.mayortitulo { 
    display: flex ;
    align-content:center;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}


.mayorcontenedor {
    padding: 01px 20px;
    display: flex ;
    align-content:center;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
}

.mayorparrafo { 
    padding: 20px 20px;
    align-content:center;
    justify-content: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    flex-direction: column ;
}

.mayorinfo { 
    text-align: center;
    display: flex;
    align-content:center;
    justify-content: center;
}

.mayorinforef { 
    text-align: center;
    display: flex;
    align-content:center;
    justify-content: center;
    background-color: #E98125;
    border: none;
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer;
    
}

.mayorinforef:hover { 
    background-color: #E98125;

}


.mayorimg {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    
}




.contacto{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    display: flex ;
    align-content:center;
    justify-content: center;

}


.footerindex {  
    background-color: #E98125;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 1rem;
    margin: 10px 10px;
}

.footer {  
    display: flex;
    background-color: #E98125;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    text-align: center; 
}

.footercolumna {  
    font-family: 'Gothic A1', sans-serif;
    font-size: 10px;
}

.footerparrafo {
    font-family: 'Gothic A1', sans-serif;
    font-size: 10px; 
       
}

.footer2 {    
     margin-left: 500px;  
     list-style: none;  
     font-family: 'Gothic A1', sans-serif;
     font-size: 10px;      
}


/*Media queries-responsive-estilos movil */ 


@media screen and (max-width: 350px) {
   
   .heroecont{
       
    height: 180px;

   }
        
}



@media screen and (max-width: 768px) {  
    .complementocontenedor {
        flex-wrap: wrap;
    }

    .footer2 {    
        margin-left: 400px;  
             
   }
   .productoscontenedor {
    margin: 10px 10px;
}

}

@media screen and (max-width: 600px) {  
    .complementocontenedor {
        flex-wrap: wrap;
    }

    .footer2 {    
        margin-left: 180px;  
             
   }
   .productoscontenedor {
    margin: 10px 10px;
}

.opciones {
    font-size: 15px;
}

.complemento {

    font-size: 12px;
}
.productos{
    
   font-size: 12px;
    
}
.metal {
    
    font-size: 12px;
}
.productosimg {
    height: 100px;
   
}
.imgsuperior1 { 
    height: 80px;
   
}

}

@media screen and (max-width: 480px) {  
    .complementocontenedor {
        flex-wrap: wrap;
    }
    .propiacontenedor {
     flex-wrap: wrap;
    align-content:center;
    justify-content: center;
}

    .footer2 {    
        margin-left: 160px;  
             
   }
   .productoscontenedor {
    margin: 10px 10px;
}

.opciones {
    font-size: 15px;
}

.complemento {

    font-size: 12px;
}
.productos{
    
   font-size: 12px;
    
}
.metal {
    
    font-size: 12px;
}
.productosimg {
    height: 100px;
   
}
.arriba{
    
    font-size: 10px;   
      
}
.complementoimg{
    
    height: 300px;
  
 }
   
}

@media screen and (max-width: 320px) {  
    .complementocontenedor {
        flex-wrap: wrap;
    }

    .propiacontenedor {
     flex-wrap: wrap;
    align-content:center;
    justify-content: center;
}

    .footer2 {    
        margin-left: 0px;  
             
   }
   .productoscontenedor {
    flex-wrap: wrap;
}

.opciones {
    font-size: 10px;
}

.complemento {

    font-size: 10px;
}
.productos{
    
   font-size: 10px;
    
}
.metal {
 
    font-size: 12px;
}
.productosimg {
    height: 100px;
   
}
.arriba{
    
    font-size: 07px;   
      
}
.complementoimg{
    
    height: 200px;
  
 }
 
 .imglogo{
     height: 60px;
 }

}