@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav1 {
  background-color: white;
}

.imglogo {
  height: 80px;
}

.containerdatos {
  background-color: #E98125;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1rem;
  margin: 10px 10px;
  padding: 10px 10px;
  font-family: "Gothic A1", sans-serif;
}

.containerdesc {
  padding: 40px;
}

.productos {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.productostitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.productoscontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.productosnom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.productostituloref {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E98125;
  border: none;
  padding: 20px 8px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.productostituloref:hover {
  background-color: #5b5b5e;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.metal {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.metalcontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.metaltitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.metaltitulonom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.metaltitulodivref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.metaltituloref {
  margin-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E98125;
  border: none;
  padding: 20px 8px;
  border-radius: 3px;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 200px;
}

.metaltituloref:hover {
  background-color: #5b5b5e;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.footerindex {
  background-color: #E98125;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1rem;
  margin: 10px 10px;
  padding: 10px 10px;
}

.nosotros {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.nosotrostitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.nosotroscontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.nosotrosnom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.nosotrostitulodivref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotrostituloref {
  margin-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E98125;
  border: none;
  padding: 20px 8px;
  border-radius: 3px;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 200px;
}

.nosotrostituloref:hover {
  background-color: #5b5b5e;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.paginaproductos {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.paginaproductostitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.paginaproductoscontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.paginaproductosindimg {
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginaproductosnom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.paginaproductoscaños {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.paginahierros {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.paginahierrostitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.paginahierroscontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.paginahierrosindimg {
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginahierrosnom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.paginaproductoshierros {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.paginamallas {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.paginamallastitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.paginamallascontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.paginamallasindimg {
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginamallasnom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.paginaproductosmallas {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.paginachapas {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.paginachapastitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.paginachapascontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.paginachapasindimg {
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginachapasnom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.paginaproductoschapas {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.fabricacionpropia {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.fabricacionpropiacontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.fabricacionpropiatitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.fabricacionpropiaparrafo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18 px;
  color: white;
}

.fabricacionpropiatitulonom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.fabricacionpropiatitulodivref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fabricacionpropiatituloref {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E98125;
  border: none;
  padding: 20px 8px;
  border-radius: 3px;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 200px;
}

.fabricacionpropiatituloref:hover {
  background-color: #5b5b5e;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.identificacion {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.identificacioncontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.identificaciontitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.identificacionimg {
  height: 600px;
}

.identificacionparrafo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18 px;
  color: white;
}

.identificaciontitulonom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.identificacionparrafo {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.identificaciontituloref {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E98125;
  border: none;
  padding: 20px 8px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 200px;
}

.identificaciontituloref:hover {
  background-color: #5b5b5e;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.compramayor {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.compramayorcontainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.compramayortitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

.compramayorimg {
  height: 600px;
}

.compramayorparrafo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18 px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.compramayortitulonom {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18px;
  color: white;
}

.compramayortituloref {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E98125;
  border: none;
  padding: 20px 8px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.compramayortituloref:hover {
  background-color: #5b5b5e;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.formulario {
  background-color: #97979b;
  color: white;
  font-size: 1rem;
  margin: 10px 10px;
  padding: 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.contacto {
  background-color: #97979b;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contactocolumn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactocolumnparrafo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 18 px;
  color: white;
}

.contactocolumninfo {
  position: relative;
  margin: 0 auto;
  width: 650px;
}

.contactocolumninfo2 {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
}

.contactocolumnmaps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-top: 20px;
}

.contactotitulo {
  margin-top: 10px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}
/*# sourceMappingURL=main.css.map */