git remote add origin https://github.com/luciaboyero/lusometalsrl.git
git branch -M master 
git push -u origin master




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lusometal srl</title>
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link href = "https: //fonts.googleapis.com/css2? family = Gothic + A1: wght @ 300 & display = swap "rel =" stylesheet ">
    
    <link rel="stylesheet" href="./Css/style.css">
    
</head>

<body>

    <div class="arriba" >
      <h3 class="arribatodo">
         <p class="arribap" >  Av.cobo 1852,CABA  </p> 
         <p class="arribap" >  (+54) 4795-8850  </p> 
         <p class="arribap" > lusometalsrl@hotmail.com  </p> 
     </h3>
    </div>
    <header class="header">
        <h2 class="imgsuperior" >
           <img class="imgsuperior1"  src="./imagenes/imglogo.png" alt="logo luso" >
        </h2>
        <nav class="opciones">
          <ul class="opcioneslist">
               <li class="opcionesitem"> <a href="#"> Inicio </a></li>
               <li class="opcionesitem"> <a href="./nosotros.html"> Nosotros </a> </li>
               <li class="opcionesitem"> <a href="./productos.html"> Productos </a></li>
               <li class="opcionesitem"> <a href="./fabricacion.html">Fabricacion </a></li>
               <li class="opcionesitem"> <a href="./compraalpormayor.html">Compra al por mayor</a></li>
                <li class="opcionesitem"> <a href="./contacto.html">Contacto </a></li>
         </ul>
        </nav>
     </header> 
     <hr class="separador">

     <main > 
            <section class="complemento"> 
               <div class="complementocontenedor ">
                 <img class="complementoimg" src="./imagenes/frente.jpg" alt="frente luso" >
                    <h2 class="complementoparrafo">
                     Lusometal SRL es una empresa familiar dedicada a la distribuciòn de productos metalurgicos y a la fabricaciòn de metales desplegados
                     La constancia, el dinamismo y la calidad de nuestros materiales, son los atributos que constituyen nuestra garantía como empresa sólida 
                     en el mercado.
                     En nuestro almacen ubicaco en Parque chacabuco, encontrará amplia gama de materiales (mallas, caños,
                    chapas, hierros) y disponibilidad en stock, cualidades que nos hacen destacar en nuestro sector.
                   </h2>
              <br>
             </div>
               <br>
          </section>

          <br>

         <section class="productos">
            <h2 class="productostitulo"> Nuestros productos</h2>
            
            <div class="productoscontenedor">
              <div class="productosunidad">
                <img class="productosimg" src="./imagenes/caños.jpg" alt="caños">
               <h3 class="productostitulo">Caños</h3>
               <a class="productostituloref" href="./productos.html"> Mas informaciòn </a>
               </div>
              <div class="productosunidad">
                 <img class="productosimg" src="./imagenes/hierros.jpg" alt="Hierros">
                 <h3 class="productostitulo">Hierros</h3>
                 <a class="productostituloref" href="./productos.html"> Mas informaciòn </a>
              </div>
              <div class="productosunidad">
                <img class="productosimg" src="./imagenes/mallas.jpg" alt="mallas">
                <h3 class="productostitulo">Mallas</h3>
                <a class="productostituloref" href="./productos.html"> Mas informaciòn </a>
               </div>
              <div class="productosunidad">
                <img class="productosimg" src="./imagenes/adn.jpg" alt="adn">
                 <h3 class="productostitulo">Hierros de construcciòn</h3>
                 <a class="productostituloref" href="./productos.html"> Mas informaciòn </a>
               </div>
             </div>
        </section>
    
       <br>

         <section class="metal">
            <h2 class="metaltitulo"> Fabricaciòn propia</h2>    
            <div class="metalcontenedor">
            <div class="metalunidad">
            <img class="metalimg" src="./imagenes/metal.jpg" alt="metal">
            <img class="metalimg" src="./imagenes/metalrollo.jpg" alt="metal">
            <h3 class="metaltitulo">Metal desplegado</h3>
            <a class="metaltituloref" href="./fabricacion.html"> Mas informaciòn </a>
           </div>
          </div>  
         </section>
         <br>
  </main> 


  <footer class="footer">
       <div class="footercolumna" >
           <h3 class="footerparrafos">
            <p>Av.cobo 1852,CABA</p>
            <p>(+54) 4795-8950</p>
            <p>lusometalsrl@hotmail.com</p>
           </h3>
       </div>
       <div class="footercolumna">
          <h3 class="footerparrafos">
            <ul class="footer2">
                <li><a href="avisoprivacidad">Aviso de privacidad</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
          </h3>
        </div>
   </footer>


</body>
</html