.containerdatos{
    background-color: #E98125 ;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 1rem;
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: 'Gothic A1', sans-serif;
}