@import "./variables";

.footerindex {  
    background-color:$color_principal;
    color: $color_letrasfondonaranja;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 1rem;
    margin: 10px 10px;
    padding: 10px 10px
}

