@import "./variables";

.formulario {  
    background-color: $color_contenedores;
    color: $color_letrasfondonaranja;
     
    font-size: 1rem;
    margin: 10px 10px;
    padding: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}
