
@import "./variables";

.nosotros {
    background-color: $color_contenedores;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;

    &titulo{
        margin-top: 10px;
        text-align: center;
        font-family: $font_principal;
        font-size: 25px;
        color:$color_letrasfondonaranja;
    
    }
    

    &container{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-top: 10px;
    }


    &nom{
    margin-top: 10px;
    text-align: center;
    font-family: $font_principal;
    font-size: 18px;
    color: $color_letrasfondonaranja;

}  
    &tituloref{
    margin-top: 10px;
    text-align: center;
      display: flex;
    align-content:center;
    justify-content: center;
    background-color: $color_principal;
    border: none;
    padding: 20px 8px;
    border-radius: 3px;
    cursor: pointer;   
    color: $color_letrasfondonaranja;

}  
     &tituloref:hover {
    background-color: $color_principal;
}


}