@import "./variables";

.paginaproductos {
    background-color: $color_contenedores;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;

    &titulo{
        margin-top: 10px;
        text-align: center;
        font-family: $font_principal;
        font-size: 25px;
        color:$color_letrasfondonaranja; 
    }
    

    &container{
        
    }

    &indimg{
        height: 300px;
        align-items: center;


    }

    &nom{
    margin-top: 10px;
    text-align: center;
    font-family: $font_principal;
    font-size: 18px;
    color: $color_letrasfondonaranja;

}  


}